ion-card{
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

ion-card-title{
    text-align: center;
    font-size: 290%;
}

ion-card-subtitle{
    text-align: center;
    font-size: 20px;
}


ion-toolbar{
    height: 80px;
    display: flex;
    align-items: center;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 40px;
    border: 1px solid;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }