ion-toolbar{
    height: 80px;
    display: flex;
    align-items: center;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 40px;
    border: 1px solid;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }