.titulo{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}

ion-grid{
    display: block;
    align-items: center;
    margin-top: 50px;
}

ion-img{
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #cccccc;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 
  
.one-line {
    &:before,
    &:after {
       background: #cccccc;
    }
}
  
.auth-form ion-grid,
.auth-form ion-row {
    height: 100%;
    justify-content: center;
}
  
.already {
    display: block;
    text-align: center;
    padding-bottom: 10px;
}