

<ion-content [fullscreen]="true" class="auth-form" scrollY="false">
  <h1 class="titulo">Cre-RoArt</h1>
  <ion-img src="assets/img/dinosaur.png"></ion-img>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col align-self-center>
        <ion-button routerLink="/register" expand="block" color="success">Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button routerLink="/login" expand="block" color="dark">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
